version: '3.8'
services:
  server:
    build: ./server
    ports:
      - '3000:3000'
    restart: unless-stopped
  client:
    build: ./client
    ports:
      - '5173:80'
    restart: unless-stopped